/* Coolors Exported Palette - coolors.co/f2f2ed-f7f7f2-f7ad67-262625-30302f */

/* HSL */
$color1: hsla(60%, 16%, 94%, 1);
$color2: hsla(60%, 24%, 96%, 1);
$color3: hsla(29%, 90%, 69%, 1);
$color4: hsla(60%, 1%, 15%, 1);
$color5: hsla(60%, 1%, 19%, 1);

/* RGB */
$color1: rgba(242, 242, 237, 1);
$color2: rgba(247, 247, 242, 1);
$color3: rgba(247, 173, 103, 1);
$color4: rgba(38, 38, 37, 1);
$color5: rgba(48, 48, 47, 1);