.checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    // CUSTOM PROPERRIES
    --col-gap: 1.5rem;
    --row-gap: 2rem;

    .loader {
        max-width: 15rem;
    }

    &__block {
        max-width: 55rem;
        padding: 6rem;
        border-radius: 1rem;
        box-shadow: 4px 4px 10px 4px rgba(0,0,0,0.1);
        background-color: $accent;
        transition: all .4s ease-in;

        &.hidden {
            display: none;
        }

        &.transparent {
            opacity: 0;
            pointer-events: none;
        }
    }

    &__header {
        text-align: center;
        color: #fff;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 5rem;
    }

    &__logo {
        height: auto;
        width: 13rem;
        fill: #fff;
        margin-bottom: 1rem;
    }

    &__title {
        font-size: 4rem;
    }

    &__subtitle {
        opacity: .75;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__form {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: var(--col-gap);
        grid-row-gap: var(--row-gap);

        .sq-input {
            height: 55px;
            box-sizing: border-box;
            background-color: $bg;
            border-radius: 4px;
            display: block;
            overflow: hidden;
            width: 100%;

            &--focus {
                transform: translateY(-2px);
                box-shadow: 4px 4px 10px 4px rgba(0,0,0,0.1);
                background-color: #fff;
            }

            &--error {
                background-color: #FFDCDB;
            }
        }

        #sq-card-number {
            grid-column: 1 / -1;
        }
    
        .button {

            &-google-pay {
                max-height: 45px;
                padding: 11px 24px;
                background-color: #000;
                background-image: url(../img/google-pay.svg);
                background-origin: content-box;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                border: 0;
                border-radius: 4px;
                box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.30), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
                outline: 0;
                cursor: pointer;
                display: none;
              }

              &-credit-card {
                width: 100%;
                height: 50px;
                background: $font;
                border-radius: 4px;
                cursor: pointer;
                display: block;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: 0;
                text-align: center;
                border: 0;
                font-weight: 500;

                &:hover {
                    background-color: $font-alt;
                }

                grid-column: 1 / -1;

              }
        }

    }

    &__divider {
        grid-column: 1 / -1;
        text-transform: uppercase;

        span {
            position: relative;
            display: grid;
            grid-template-columns: 1fr max-content 1fr;
            letter-spacing: 1px;
            grid-gap: var(--col-gap);
            align-items: center;
            color: $bg;

            &::before, &::after {
                content:'';
                display: block;
                height: 2px;
                width: 100%;
                background-color: currentColor;
                opacity: .4;
            }
        }
    }

    &__wallets {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: var(--col-gap);
        grid-column: 1 / -1;
    }
    
}